<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <display-name>NTOULibrary</display-name>
  
  
  <servlet>
    <servlet-name>getReadingHistory</servlet-name>
    <servlet-class>model.getReadingHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getReadingHistory</servlet-name>
    <url-pattern>/getReadingHistory.do</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>reserveBook</servlet-name>
    <servlet-class>model.reserveBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reserveBook</servlet-name>
    <url-pattern>/reserveBook.do</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>getCurrentHolds</servlet-name>
    <servlet-class>model.getCurrentHolds</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getCurrentHolds</servlet-name>
    <url-pattern>/getCurrentHolds.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>cancelReserveBook</servlet-name>
    <servlet-class>model.cancelReserveBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancelReserveBook</servlet-name>
    <url-pattern>/cancelReserveBook.do</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>getCurrentBorrowedBooks</servlet-name>
    <servlet-class>model.getCurrentBorrowedBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getCurrentBorrowedBooks</servlet-name>
    <url-pattern>/getCurrentBorrowedBooks.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>renewBook</servlet-name>
    <servlet-class>model.renewBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>renewBook</servlet-name>
    <url-pattern>/renewBook.do</url-pattern>
  </servlet-mapping>
</web-app>